@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, input, textarea, label, span, button {
  font-family: "Kanit", sans-serif;
}

.sect__container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

.section__one {
  margin-top: 3em;
}
.section__one .hero__head {
  font-size: 1.25rem;
  color: #313131;
  font-weight: 600;
  fill: solid;
  line-height: 2.5rem;
}
.section__one .hero__head .hero__inline {
  color: #0062E8;
}
.section__one .hero__subhead {
  margin-bottom: 0.5em;
}
.section__one .hero__subhead .hero__subtext {
  font-size: 0.8rem;
  color: #313131;
  font-weight: 300;
  font-style: light;
  fill: solid;
  line-height: 1.25rem;
}

.section__two {
  position: relative;
}
.section__two .banner__flex {
  position: absolute;
  bottom: 15%;
}
.section__two .right__ban {
  margin-top: 0.5em;
}
.section__two .ban__heading .ban__head {
  font-size: 1rem;
  color: #FEFEFE;
  font-weight: 600;
  font-style: bold;
  fill: solid;
  line-height: 2.5rem;
}
.section__two .ban__subhead .ban__subtext {
  font-size: 0.7rem;
  color: #FEFEFE;
  font-weight: 300;
  font-style: light;
  fill: solid;
  line-height: 1rem;
}
.section__two .banner__details {
  display: flex;
  align-items: center;
  position: absolute;
  right: 3%;
}
.section__two .banner__details .banner__read {
  font-size: 0.6rem;
  color: #FEFEFE;
  font-weight: 600;
  font-style: bold;
  fill: solid;
  line-height: 1rem;
}
.section__two .banner__details .arrowpoint {
  width: 0.7rem;
  margin-left: 0.2em;
}

.section__three .three__desktop {
  display: none;
}
.section__three .three__left {
  display: none;
}
.section__three .three__top {
  margin: 1em 0;
  width: 80%;
}
.section__three .three__heading {
  font-size: 0.7rem;
  color: #313131;
  font-weight: 600;
  font-style: bold;
  fill: solid;
  line-height: 1.2rem;
}
.section__three .three__bottom {
  width: 58%;
  margin: 0 auto;
}
.section__three .three__sep {
  width: 50%;
  margin-left: 0.8em;
}
.section__three .three__bottom .three__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  width: 70%;
}
.section__three .three__each {
  width: 45%;
  border-bottom: 1px solid #ECECEC;
  text-align: center;
}
.section__three .three__each .three__sep {
  border-bottom: 1px solid #ECECEC;
}
.section__three .three__each .three__head, .section__three .three__sep .three__head {
  font-size: 0.8rem;
  color: #313131;
  font-weight: 600;
  font-style: bold;
  fill: solid;
  line-height: 1.2rem;
}
.section__three .three__each .three__text, .section__three .three__sep .three__text {
  padding-bottom: 1em;
  font-size: 0.6rem;
  color: #313131;
  font-weight: 300;
  font-style: light;
  fill: solid;
  line-height: 1.2rem;
}

.section__four {
  margin-top: 3em;
}
.section__four .four__heading {
  margin-bottom: 1em;
}
.section__four .four__heading .four__head {
  font-size: 0.9rem;
  color: #313131;
  font-weight: 600;
  font-style: bold;
  fill: solid;
  line-height: 1.2rem;
}
.section__four .four__cards {
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.section__four .four__cards .card__container {
  margin-bottom: 1.1em;
  position: relative;
}
.section__four .card__content {
  position: absolute;
  padding: 2em 1em 1em;
}
.section__four .card__heading .card__head {
  font-size: 1.3rem;
  color: #FFFFFF;
  font-weight: 700;
  font-style: bold;
  fill: solid;
  line-height: 1.8rem;
}
.section__four .card__subhead, .section__four .card__logo {
  margin-top: 1em;
}
.section__four .card__subhead .card__subtext {
  font-size: 0.7rem;
  color: #FFFFFF;
  font-weight: 300;
  font-style: light;
  fill: solid;
  line-height: 1.2rem;
}
.section__four .banner__details {
  margin-top: 0.4em;
  position: absolute;
  right: 5%;
}
.section__four .banner__details .banner__read {
  font-size: 0.6rem;
  color: #FEFEFE;
  font-weight: 300;
  font-style: light;
  fill: solid;
  line-height: 1rem;
}
.section__four .banner__details .arrowpoint {
  width: 0.7rem;
  margin-left: 0.2em;
}

.section__five {
  margin-top: 3em;
}
.section__five .five__desktop {
  display: none;
}
.section__five .five__top {
  display: flex;
  margin-bottom: 1em;
}
.section__five .five__top .point__link {
  font-size: 0.8rem;
  color: #313131;
  font-weight: 600;
  font-style: bold;
  fill: solid;
  line-height: 1.2rem;
}
.section__five .five__top .five__pointlinks {
  display: none;
  margin-left: 1em;
}
.section__five .five__bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
}
.section__five .five__bottom .five__articles {
  display: flex;
  flex-direction: column;
  width: 80%;
  flex-basis: 45%;
}
.section__five .five__bottom .five__articles .each__icon {
  width: 100%;
}
.section__five .five__bottom .five__articles .five__heading {
  margin-top: 0.5em;
  width: 100%;
}
.section__five .five__bottom .five__articles .five__head {
  font-size: 0.7rem;
  color: #313131;
  font-weight: 600;
  font-style: bold;
  fill: solid;
  line-height: 1.2rem;
}
.section__five .five__bottom .five__articles .five__subtext {
  margin-top: 0.5em;
  width: 100%;
}
.section__five .five__bottom .five__articles .five__texts {
  font-size: 0.6rem;
  color: #313131;
  font-weight: 300;
  font-style: light;
  fill: solid;
  line-height: 1rem;
}
.section__five .five__bottom .five__articles .more__details {
  display: flex;
  align-items: center;
}
.section__five .five__bottom .five__articles .read__more {
  font-size: 0.5rem;
  color: #313131;
  font-weight: 300;
  font-style: light;
  fill: solid;
  line-height: 1rem;
}
.section__five .five__bottom .five__articles .arrowleft {
  width: 0.7rem;
  margin-left: 0.2em;
}

@media (min-width: 825px) {
  .section__one {
    margin-top: 3em;
  }
  .section__one .hero__head {
    font-size: 2rem;
  }
  .section__one .hero__subhead .hero__subtext {
    font-size: 0.8rem;
    font-weight: 500;
    font-style: medium;
  }
  .section__two .banner__flex {
    bottom: 10%;
  }
  .section__two .left__ban {
    width: 60%;
  }
  .section__two .ban__heading .ban__head {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .section__two .ban__subhead {
    margin-top: 1em;
  }
  .section__two .ban__subhead .ban__subtext {
    font-size: 1rem;
    font-weight: 600;
    font-style: bold;
    line-height: 1.5rem;
  }
  .section__two .banner__details {
    right: 1%;
    bottom: 7%;
  }
  .section__two .banner__details .banner__read {
    font-size: 0.8rem;
  }
  .section__two .banner__details .arrowpoint {
    width: 1rem;
  }
  .section__three {
    margin-top: 3em;
  }
  .section__three .three__right {
    display: none;
  }
  .section__three .three__desktop {
    display: block;
    margin-top: 0.9em;
  }
  .section__three .three__center {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
  }
  .section__three .three__left {
    display: block;
    width: 30%;
  }
  .section__three .three__right, .section__three .three__desktop {
    width: 60%;
  }
  .section__three .three__top {
    margin: 1em 0;
    width: 100%;
  }
  .section__three .three__heading {
    font-size: 1rem;
    color: #313131;
    font-weight: 600;
    font-style: bold;
    fill: solid;
    line-height: 1.2rem;
  }
  .section__three .three__bottom {
    width: 100%;
    margin: 0;
  }
  .section__three .three__bottom .three__flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .section__three .three__each {
    width: 30%;
    border-bottom: 1px solid #ECECEC;
  }
  .section__three .three__flexed {
    display: flex;
  }
  .section__three .three__sep {
    text-align: center;
  }
  .section__three .three__each .three__head, .section__three .three__sep .three__head {
    font-size: 1rem;
  }
  .section__three .three__each .three__text, .section__three .three__sep .three__text {
    font-size: 0.8rem;
    padding-bottom: 1em;
  }
  .section__four {
    margin-top: 3em;
  }
  .section__four .four__heading {
    margin-bottom: 1em;
  }
  .section__four .four__cards {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  .section__four .four__cards .card__container {
    margin-bottom: 0;
    width: 15%;
  }
  .section__five .five__bottom {
    display: none;
  }
  .section__five .five__desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4em;
  }
  .section__five .five__desktop .five__articles {
    display: flex;
    flex-direction: column;
    flex: 0 1 22%;
    margin-bottom: 1em;
  }
  .section__five .five__desktop .five__articles .each__icon {
    width: 100%;
  }
  .section__five .five__desktop .five__articles .five__heading {
    margin-top: 0.5em;
    width: 100%;
  }
  .section__five .five__desktop .five__articles .five__head {
    font-size: 0.7rem;
    color: #313131;
    font-weight: 600;
    font-style: bold;
    fill: solid;
    line-height: 1.2rem;
  }
  .section__five .five__desktop .five__articles .five__subtext {
    margin-top: 0.5em;
    width: 100%;
  }
  .section__five .five__desktop .five__articles .five__texts {
    font-size: 0.6rem;
    color: #313131;
    font-weight: 300;
    font-style: light;
    fill: solid;
    line-height: 1rem;
  }
  .section__five .five__desktop .five__articles .more__details {
    display: flex;
    align-items: center;
  }
  .section__five .five__desktop .five__articles .read__more {
    font-size: 0.5rem;
    color: #313131;
    font-weight: 300;
    font-style: light;
    fill: solid;
    line-height: 1rem;
  }
  .section__five .five__desktop .five__articles .arrowleft {
    width: 0.7rem;
    margin-left: 0.2em;
  }
}/*# sourceMappingURL=press.module.css.map */